<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="container">
    <h2 class="my-5 text-center">About Team</h2>

    <div class="owl-carousel slide-one-item">

      <div class="d-md-flex testimony-29101 align-items-stretch">
        <div class="image" style="background-image: url('images/aisyah.jpeg');"></div>
        <div class="text">
          <blockquote>
            <p>Ini adalah perkenalan dari saya, nama saya Aisyah Syahidatul Mumtazah. Tempat dan tanggal lahir saya
              Yogyakarta, 17 Juni 2003. Domisili sekarang berada di Kota Pekanbaru dan saya memiliki hobi saya
              membaca segala hal yang bisa dibaca.
              Quotes inspiratif saya " Buka mata, buka telinga, saksikan dunia ".</p>

            <div class="author">&mdash; Aisyah Syahidatul Mumtazah</div>
          </blockquote>
        </div>
      </div> <!-- .item -->

      <div class="d-md-flex testimony-29101 align-items-stretch">
        <div class="image" style="background-image: url('images/michael.jpeg');"></div>
        <div class="text">
          <blockquote>
            <p>Nama saya Michael Gracio. Saya lahir di Pekanbaru, tanggal 27 November 2001. Saya Berasal dari
              Pekanbaru, Riau. Hobi Saya adalah Bermain game.
              Quotes Saya adalah "Hidup seperti Larry".</p>

            <div class="author">&mdash; Michael Gracio</div>
          </blockquote>
        </div>
      </div> <!-- .item -->

      <div class="d-md-flex testimony-29101 align-items-stretch">
        <div class="image" style="background-image: url('images/oky.jpeg');"></div>
        <div class="text">
          <blockquote>
            <p>Saya punya nama Oky Firnanda dan dipanggil Oky alias Nanda. Dilahirkan di Pematang Kabau, tanggal 09
              Oktober 2000. Domisili saya di
              Sarolangun, Jambi. Kata bijak saya "Kegagalan itu seperti pupuk; pasti bau, tapi itu membuat segalanya
              tumbuh lebih cepat di masa depan". </p>

            <div class="author">&mdash; Oky Firnanda</div>
          </blockquote>
        </div>
      </div> <!-- .item -->


    </div>

  </div>



  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>